.background {
 width: 100vw;
 height: 100%;
 overflow: scroll;
 background-color: blanchedalmond;
}
  .showname {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  }
   

  .announce {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
    &__guide1 {
    }
    &__guide2 {
    }
  }   
  .medical-history-title {
    text-align: center;
    font-size: 30px;
    margin: 10px auto;
  }

  .medical-history { 
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;

    &__intracranial-hemorrhage {
      padding: 8px 19px;
      margin: 2em 20%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 60%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }
    } 

    &__infraction-events {
      padding: 8px 19px;
      margin: 2em 15%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 70%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
       }
      }
    
    &__antithrombotic {
      padding: 8px 19px;
      margin: 2em 15%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 70%;
      display: flex;
      flex-direction: column;
      &__sections {
        &__selection-box1 {
            margin-right: 10px;    
          }
      &__usage {
          display: 1;
         }         
      }
    }

    &__hypertension {
      padding: 8px 19px;
      margin: 2em 20%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 60%;
      display: flex;
      flex-direction: column;

      &__sections {
        &__selection-box1 {
          margin-right: 10px;   
        }
      &__medication {
        display: 1;
       
      }
      }
      
    }
    
    &__diabetes {
      padding: 8px 19px;
        margin: 2em 20%;
        color: #2c2c2f;
        background: #cde4ff;
        border-top: solid 5px #5989cf;
        border-bottom: solid 5px #5989cf;
        font-size: 20px;
        width: 60%;
        display: flex;
        flex-direction: column;

        &__sections {
          &__selection-box1 {
            margin-right: 10px;    
          }
        &__medication {
          display: 1;
        }
      }
    }
    
    &__hyperlipidemia {
      padding: 8px 19px;
      margin: 2em 20%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 60%;
      display: flex;
      flex-direction: column;

      &__sections {
        &__selection-box1 {
          margin-right: 10px;    
        }
      &__medication {
        display: 1;
      }
      }
    }

    &__kidney-malfunction {
      padding: 8px 19px;
      margin: 2em 20%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 60%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }
    }
    &__liver-malfunction {
      padding: 8px 19px;
      margin: 2em 20%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 60%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }
      }
    }


  .lifestyle-title {
    text-align: center;
    font-size: 30px;
    margin: 10px auto;

  }

  .lifestyle {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    
    &__residence {
      padding: 8px 19px;
      margin: 2em 25%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 50%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }
    }

    &__activity-outside {
      padding: 8px 19px;
      margin: 2em 25%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 50%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }
    }
    
    &__activity-inside {
      padding: 8px 19px;
      margin: 2em 25%;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
      width: 50%;
      &__choices {
        &__selection-box1 {
          margin-right: 10px;    
        }
      }  
    }
   }

  .link-options {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 5px;

    &__submission-btn1 {
    }
    &__submission-btn2 {
    }
  }