.background
  .showname
    ＜userのname＞さんの情報を登録しています。

  .announce
    下記の情報を登録してください
    .announce__guide1
      「ある、ない」はどちらかを選択してください。
    .announce__guide2
      飲み薬の具体的な名前は空欄に記入してください。

  .medical-history-title
    <<病気の情報を教えてください>>

  .medical-history
    .medical-history__intracranial-hemorrhage
      脳出血やくも膜下出血になったことはありますか？
      .medical-history__intracranial-hemorrhage__selection-box
        <ある、なし>の選択を記載します。

    .medical-history__infraction-events
      脳梗塞もしくは心筋梗塞/狭心症にかかったことはありますか？
      .medical-history__infraction-events__selection-box
        <ある、なし>の選択を記載します。      
      .medical-history__infraction-events__antithrombotic
        血をサラサラにするお薬を飲んでいますか？
        .medical-history__infraction-events__antithrombotic__selection-box
          <ある、なし>の選択を記載します。
        .medical-history__infraction-events__antithrombotic__usage
          <薬の名前を教えてください>

    .medical-history__hypertension
      高血圧と言われたことがありますか？
      .medical-history__hypertension__selection-box
        <ある、なし>の選択を記載します。
      .medical-history__hypertension__medication
        <薬の名前を教えてください>

    .medical-history__diabetes
      糖尿病と言われたことがありますか？
      .medical-history__diabetes__selection-box
        <ある、なし>の選択を記載します。
      .medical-history__diabetes__medication
        <薬の名前を教えてください>

    .medical-history__hyperlipidemia
      高脂血症と言われたことがありますか？
      .medical-history__hyperlipidemia__selection-box
        <ある、なし>の選択を記載します。
      .medical-history__hyperlipidemia__medication
        <薬の名前を教えてください>

    .medical-history__kidney-malfunction
      腎機能障害（腎臓が悪い）と言われたことがありますか？
      .medical-history__kidney-malfunction__selection-box
        <ある、なし>の選択を記載します。

    .medical-history__liver-malfunction
      肝機能障害（肝臓が悪い）と言われたことがありますか？
      .medical-history__liver-malfunction__selection-box
        <ある、なし>の選択を記載します。
  .lifestyle-title
    <<現在の生活状況を簡単に教えてください>>

  .lifestyle
    .lifestyle__residence
      現在の住居はどちらですか？
      .lifestyle__residence__selection-box
        <自宅　自宅以外（施設、病院など）>
        
    .lifestyle__activity-outside
      普段外出はしていますか？
      .lifestyle__activity-outside__selection-box
        <一人で外出する　一人では外出できない>

    .lifestyle__activity-inside
      自宅内では普段どのように過ごしていますか？
      .lifestyle__activity-inside__selection-box
        <ほぼ自立　介助が必要>
  
  .submission