.background
  .title
    脳卒中これだけ登録！！
  .selections
    .selections__title
      登録の方法をお選びください
    .selections__simple__text
      飲み薬の詳細は登録しない方はこちら
    = link_to new_information_path, class: "selections__simple" do
      らくらく登録
    .selections__detail__text
      飲み薬の詳細も登録したい方はこちら   
    = link_to new_information_path, class: "selections__detail" do
      詳細登録
    

